{
  "extends": "rodoabad",
  "rules": {
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": "always",
        "ObjectPattern": {
          "multiline": true
        },
        "ImportDeclaration": "never",
        "ExportDeclaration": {
          "consistent": true,
          "multiline": true,
          "minProperties": 2
        }
      }
    ],
    "padded-blocks": [
      "error",
      "never"
    ]
  }
}
