.home {
  border: 1px solid darkseagreen;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'hello hello'
    'links links'
 }

:global {
  body,
  html {
   box-sizing: border-box;
  }
}
